.itemArea{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.card{
    width: 256px;
    height: auto;
    border: gray 1px solid;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: hidden;
}

/* .imgArea{
    width: 160px;
    height: 90px;
    background-image: url(https://placehold.jp/160x90.png);
    overflow-wrap: hidden;
} */

.textArea{
    padding: 8px;
    width: 240px;
}
.textArea>p{
    word-break:break-word;
    font-size: 12px;
    margin: 0;
    width: 240px;
    height: 50px;
    text-align: center;
}
.textArea>h2{
    text-align: left;
    font-size: 15px;
    margin: 0;
}