.side-bar {
  // flex: 0 0 200px;
  width:200px;
  height: 100vh;
  color: #adb5bd;
  margin-top: 82px;
}
.side-bar-item:first-child a {
  background: blue;
  border-radius: 4px;
  color: #fff;
}

.side-bar-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 6px;
  padding: 12px 30px;
  border-radius: 4px;
  margin-right: 12px;
  margin-left: 12px;
}

.side-bar-item.is-active a {
  background: #c4ccf8;
}
.side-bar-content p {
  margin-bottom: 8px;
  margin-top: 44px;
  margin-left: 32px;
}
.side-bar-content {
  border-bottom: 1px solid #e9ecef;
  margin-top: 25px;
}
img {
  margin-right: 17px;
}
