footer {
  height: 50px;
  justify-content: center;
  align-items: center;
}
.footer-area {
  display: flex;
  width: 100%;
}

.privacy {
  margin-top: 25px;
  height: 50px;
  margin-left: 225px;
}

.term-of-use {
  margin-top: 25px;
  height: 50px;
  margin-left: 24px;
}

/** 最後だけ右寄せ */
.corporate:last-child {
  margin-left: auto;
  height: 50px;
  margin-top: 25px;
}
