$backgrount-color: white;

footer {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #ddd;
  background-color: $backgrount-color;
  font-size: 0.75rem;
  p:nth-child(2) {
    padding-left: 30%;
  }
  p:last-child {
    margin-left: 10%;
  }
}
