* {
    font-family: Arial, Helvetica, sans-serif;
}
th,
td {
    border: solid 1px; /* 枠線指定 */
    text-align: left;
}

table {
    border-collapse: collapse; /* セルの線を重ねる */
    width: 100%; /* 幅指定 */
    background-color: #fff;
    margin: 10px;
}

// .second_Area {
//     width: 50px; /* 幅指定 */
//     text-align: left; /* 文字の揃え位置指定 */
// }

td {
    /* 文字の揃え位置指定 */
    height: 41px;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

.checkbox-Area {
    min-width: 46px;
    width: 46px;
}
.title_Area {
    min-width: 50px;
    width: 50px;
}
.email_Area {
    min-width: 159px;
    height: 24px;
}
.status_Area {
    min-width: 159px;
    height: 24px;
}
// .six_Area{
//     min-width: 140px;
// height: 24px;
// }

td a {
    padding-right: 5px;
    color: #0d6efd;
    text-decoration: none;
}
