th,
td {
    border: solid 1px; /* 枠線指定 */
}

table {
    border-collapse: collapse; /* セルの線を重ねる */
    width: 100%; /* 幅指定 */
}

.second_Area {
    width: 50px; /* 幅指定 */
    text-align: left; /* 文字の揃え位置指定 */
}

td {
    /* 文字の揃え位置指定 */
}

table tr:nth-child(odd) {
    background-color: #eee;
}
