header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: rgba(218, 212, 212, 0.972);
    text-align: center;
  }
  .flex__row img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 90%;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    border: 1px solid lightgray;
    background-color: #F0F2F5;
  }
  .search__bar > input {
    border: none !important;
    background-color: #F0F2F5;
    margin-left: 5px;
  }
  .search__bar > input:focus {
    outline-width: 0;
  }
  .search__bar > input::-webkit-input-placeholder {
    text-align: left;
    font-size: 15px;
  }
  .search__bar > input:-ms-input-placeholder {
    text-align: left;
    font-size: 15px;
  }
  .search__bar > input::-ms-input-placeholder {
    text-align: left;
    font-size: 15px;
  }
  .search__bar > input::placeholder {
    text-align: left;
    font-size: 15px;
  }
  .search__bar > img {
    width: 15px;
    height: 15px;
  }
  .search__bar > .MuiSvgIcon-root {
    margin-right: 5px;
  }
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image_1 {
    margin-left: auto;
    padding-right: 5px;
  }
  .image_1 img {
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
  .image_2 {
    left: 14.58%;
    right: 14.58%;
    top: 8.33%;
    bottom: 25.03%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .image_2 img {
    height: 17px;
    width: 16px;
    padding-left: 3.5px;
    padding-top: 2px;
    border-radius: 0px;
  }
  .image_3 {
    left: 14.58%;
    right: 14.58%;
    top: 8.33%;
    bottom: 25.03%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .image_3 img {
    height: 17px;
    width: 16px;
    padding-left: 3.5px;
    padding-top: 2px;
    border-radius: 0px;
  }
  .image_4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .image_4 img {
    height: 20px;
    width: 20px;
    padding-left: 3.5px;
    padding-top: 2px;
    border-radius: 0px;
  }
  .name-area{
    margin-right: 80px;
  }
  .authority{
    font-size: 15px;
    line-height: 0.1em;
  }
  .name{
    font-size: 15px;
    line-height: 0.1em;
  }

  /*# sourceMappingURL=style.css.map */