   .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    margin-left: 5px;
  }
  .item {
    border: 1px solid #81808078;
    width: 23%;
    height: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
  }
  .box-image {
    height: 60%;
    width: 100%;
  }
  .card-title {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  
  .context {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }