$backgrount-color: white;
$border-color: #ccc;

.right-wrapper {
	background-color: $border-color;
	min-height: 200vh;
}

.items{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  width: 98%;
  height: 90vh;
	background-color: $backgrount-color;
	margin: 0 auto;
	border-radius: 5px;
}
.items:after,
.items:before{
	content:"";
	display:block;
	width: 23%;
	height: 100%;
}
.items:before{
	order:1;
}
.item{
	width: 23%;
	height: 27%;
	margin-top: 2%;
	border: 2px solid $border-color;
	word-wrap: break-word;
	border-radius: 5px;
	p {
		font-size: 0.5rem;
	}
}
.box-image{
  height: 60%;
  width: 100%;
	border-radius: 5px;
}

.title {
  margin: 0;
  padding: 0;
	font-size: 0.8rem;
}

.context {
  margin: 0;
  padding: 0px;
}