.back{
    background-color: white;
    width: 100%;
    height: 95%;
    padding-top: 5px;
    margin-left: 5px;
}
table {
    border-collapse: collapse;
    margin: 20px;
    width: 97%;
}
table th,
table td {
    border: solid 1px rgb(209, 209, 209);
    height: 30px;
}
table th {
    border-bottom: solid 1px rgb(0, 0, 0);
}
table tr:nth-child(even) {
    background-color: #eee;
}

.check {
    text-align: center;
    width: 3%;
}
.name {
    width: 26%;
}
.name-header{
    text-align: left;
}
.email {
    width: 26%;
}
.email-header{
    text-align: left;
}
.status {
    width: 26%;
}
.status-header{
    text-align: left;
}
.action {
    width: 14%;
}
.action-header{
    text-align: left;
}
.action-data {
    color: blue;
}
