header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  font-size: 20px;
  color: #ADB5BD;
  background: white;
  text-align: center;

}


.serch-window{
  margin-left: 8vw;
  position: relative;

  &::before{
    display: inline-block;
    content: '';
    position: absolute;
    left: 14px;
    top: 7px;
    z-index: 10;
    width: 20px;
    height: 20px;
    background-image: url("../../Assets/Images/Search.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  & input{
    border: #E9ECEF solid 1px;
    box-sizing: border-box;
    border-radius: 2px;
    height: 30px;
  }
}

.userStatus{
  display: flex;
  align-items: center;
}

.icon{
  border-radius: 90px;
  margin-right: 0.6em;
}
.profile{
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
}
.ellipse{
  width: 22px; 
  height: 22px;
}
.mail{
  width: 15px; 
  height: 15px;
}
.bell{
  width: 15px; 
  height: 15px;
}

.user{
  list-style: none;
  padding: 0;

  &>p{
    margin: 0 50px 0 0;
    font-size: 12px;

    &>.strong{
      color: #232D42;
      font-size: 15px;
    }
  }
}