#posts {
  width: 980px;
  margin: 0 auto;
  min-height: calc(100vh - 75px - 68px - 54px);
  background-color: rgba(255, 255, 255,1);
  margin-bottom: 8px;
  .row {
    display: flex;
    &:first-child {
      padding-top: 15px;
    }
    .card {
      display: inline-block;
      width: 240px;
      padding-bottom: 8px;
      margin: 0 15px 15px 0;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      &:first-child {
        margin-left: 15px;
      }
      img {
        width: 100%;
        border-radius: 4px;
      }
      &__title {
        display: inline-block;
        margin: 8px;
        font-weight: bold;
      }
      &__text {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
}