@import "~bootstrap/scss/bootstrap.scss";
@import "./variable";

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bs-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  display: flex;
  flex-wrap: wrap;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
